<div class="container">
    <form [formGroup]="taskForm">
    <div class="row loadRecords">
        <div class="col-md-12">
            <label for="date">Select Date</label>
            <input id="date" type="date" formControlName="selectDate">

            <button class="btn btn-secondary">Load</button>

            <button class="btn btn-success">Export Timesheet as PNG</button>
        </div>        
    </div>
    <hr>
    <div class="row">
      
            <div class="col-md-2">
                <label for="start">Start Time</label>
                <input id="start" type="time" formControlName="startTime">
            </div>
            <div class="col-md-2">
                <label for="end">End Time</label>
                <input id="end" type="time" formControlName="endTime">
            </div>
            <div class="col-md-6">
                <input class="w-100" id="task" type="text" placeholder="Task Description"  formControlName="description">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" (click)="addTask()">Add</button>
            </div>       
    </div>
</form>
    <hr>
    <div class="row">
        <table class="table table-bordered table-responsive">
            <thead class="text-center">
                <th>Start Time</th>
                <th>End Time</th>
                <th>Date</th>
                <th>Task Description</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let tasks of taskArray;index as i">
                    <td>{{tasks?.startTime}}</td>
                    <td>{{tasks?.endTime}}</td>
                    <td>{{tasks?.selectDate}}</td>
                    <td>{{tasks?.description}}</td>
                    <td class="text-center">
                        <button class="btn btn-danger mx-2" (click)="removeTask(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>